In [29]:
import matplotlib as plt
import pandas as pd

In [20]:
excel = pd.read_csv(r'/Users/alanmartinezblanco/Documents/Codigo Curso Python/ejemplosmatplotlib/finanzas2.csv', sep=";")

In [21]:
excel.head()

      Fecha  Elon Mosk  Bill Gate
0  2/1/2018     171.42     176.85
1  3/1/2018     164.67     171.29
2  4/1/2018     184.33     184.33
3  5/1/2018     176.85     176.85
4  8/1/2018     178.28     167.60

In [22]:
excel.dtypes

Fecha         object
Elon Mosk    float64
Bill Gate    float64
dtype: object

In [23]:
excel['Fecha'] = pd.to_datetime(excel['Fecha'],format = '%d/%m/%Y')
excel.head()

       Fecha  Elon Mosk  Bill Gate
0 2018-01-02     171.42     176.85
1 2018-01-03     164.67     171.29
2 2018-01-04     184.33     184.33
3 2018-01-05     176.85     176.85
4 2018-01-08     178.28     167.60

In [24]:
excel.dtypes

Fecha        datetime64[ns]
Elon Mosk           float64
Bill Gate           float64
dtype: object

In [25]:
excel.set_index('Fecha', inplace=True)

In [26]:
excel.head()

            Elon Mosk  Bill Gate
Fecha
2018-01-02     171.42     176.85
2018-01-03     164.67     171.29
2018-01-04     184.33     184.33
2018-01-05     176.85     176.85
2018-01-08     178.28     167.60

In [34]:
plt.style

AttributeError: module 'matplotlib' has no attribute 'style'