In [7]:
import pandas as pd

In [18]:
dataframe = pd.read_csv("/Users/alanmartinezblanco/Documents/Codigo Curso Python/documentosPandas/dataframeutf8.csv")

In [21]:
dataframe

  Nombre y apellido  Edad       País Automovil Vivienda
0              Juan    35     Mexico        No       Si
1             Pedro    41   Honduras        Si       No
2             Maria    28       Peru        Si       Si
3             Laura    66  Argentina        No       No

In [10]:
dataframe['Nombre y apellido']
#se escribe entre comillas y corchetes para cuando la columna tiene espacio

0     Juan
1    Pedro
2    Maria
3    Laura
Name: Nombre y apellido, dtype: object

In [11]:
dataframe.País
#notacion con punto cuando no se tienen espacios

0       Mexico
1     Honduras
2         Peru
3    Argentina
Name: País, dtype: object

In [12]:
dataframe[['Edad', 'Automovil']]

   Edad Automovil
0    35        No
1    41        Si
2    28        Si
3    66        No

In [13]:
type(dataframe.País)

pandas.core.series.Series

In [14]:
type(dataframe[['Edad', 'Automovil']])

pandas.core.frame.DataFrame

In [19]:
#shape para conocer numero de filas y columnas
dataframe.shape

(4, 5)

In [20]:
#info() nos ayuda a comprender como esta estructurado nuestro documento
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Nombre y apellido  4 non-null      object
 1   Edad               4 non-null      int64
 2   País               4 non-null      object
 3   Automovil          4 non-null      object
 4   Vivienda           4 non-null      object
dtypes: int64(1), object(4)
memory usage: 288.0+ bytes