In [3]:
import pandas as pd

In [4]:
#pd.__version__

In [11]:
dataframe = pd.read_csv(r'/Users/alanmartinezblanco/Documents/Codigo Curso Python/documentosPandas/dataframeutf8.csv')

In [13]:
dataframe

  Nombre y apellido  Edad       País Automovil Vivienda
0              Juan    35     Mexico        No       Si
1             Pedro    41   Honduras        Si       No
2             Maria    28       Peru        Si       Si
3             Laura    66  Argentina        No       No

# Value counts

In [ ]:
# value_counts te cuenta los valores repetidos en las columnas
dataframe.Edad.value_counts()

In [15]:
dataframe.Automovil.value_counts()

No    2
Si    2
Name: Automovil, dtype: int64

In [17]:
dataframe.País.value_counts()

Mexico       1
Honduras     1
Peru         1
Argentina    1
Name: País, dtype: int64

#

In [21]:
#sort value, ordena la informacion
dataframe.sort_values(by=["Edad"])

  Nombre y apellido  Edad       País Automovil Vivienda
2             Maria    28       Peru        Si       Si
0              Juan    35     Mexico        No       Si
1             Pedro    41   Honduras        Si       No
3             Laura    66  Argentina        No       No

In [23]:
#filtrado de valores
dataframe[dataframe.País=="Mexico"]

  Nombre y apellido  Edad    País Automovil Vivienda
0              Juan    35  Mexico        No       Si

In [25]:
dataframe[(dataframe.País=="Peru") & (dataframe.Automovil =="Si"]

  Nombre y apellido  Edad  País Automovil Vivienda
2             Maria    28  Peru        Si       Si